= render 'layouts/header'
.Header-bar
%hr.contents-line
.Mypage
  .Side-bar
    .Side-bar__image
    .Side-bar__name
      = "#{current_user.nickname} さん"
  .Main-bar
    .Main-bar__title
      完了したプロジェクト
    .Main-bar__detaile
    .Main-bar__return
      =link_to "戻る", mypage_projects_path, class: "Payment__inner__add-btn"