* {
  box-sizing: border-box;
}

.project{
  width: 1200px;
  margin: 0 auto;
}

.project__main{
  display: flex;
  justify-content: space-between;
  color: rgb(115, 112, 107);
  margin-bottom: 60px;
  
}
.project__top{
  line-height: 200px;
  height: 200px;
  color: rgb(115, 112, 107);
  font-size: 40px;
}

.project__return__index{
  height: 300px;
  text-align: center;
  padding-top: 50px;
}

.project__return__index p{
  color: rgb(115, 112, 107);
  font-size: 18px;
  margin-bottom: 30px;
}

.project__execute-report{
  height: 150px;
  text-align: center;
  padding-top: 30px;
}

.project__execute-btn{
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

.project__title{
  color: rgb(115, 112, 107);
  margin-bottom: 20px;
  &__content{
    height: 150px;
    background-color: rgb(241, 237, 220);
    padding-top: 20px;
    margin-bottom: 10px;
  }
  &__main{
    font-size: 40px;
    text-align: center;
    height: 70%;
  }
  &__name{
    font-size: 18px;
    
    height: 30%;
    padding-left: 800px;

  }
}



.project__right{
  display: inline-block;
  width: 65%;
  position: relative;
  
  &__image{
    border:solid 5px #ccc;
    height: 450px;
    width: 100%;
    background-color: rgb(115, 112, 107);
    
  }
  &__text {
    border:solid 1px #ccc;
    height: 500px;
    margin: 10px 0;
    line-height: 30px;
    &__detail{
      padding:0 7px;
    } 
  }
  &__text h2 {
    background-color:  rgb(231, 229, 226);
    text-align: center;
  }
  &__text p {
    padding-left: 10px;
  }
  &__profile{
    border:solid 1px #ccc;
    &__detail{
      height: 165px;
      display: flex;
    }
  }
  
&__profile p {
  padding-left: 10px;
  }
}

.scroll{
  text-overflow: ellipsis;
  //white-space: nowrap;
  overflow: scroll; 
}

.profile-image{
  width: 30%;
}

.profile-expect{
  width: 70%;
  //padding-left: 8px;
  padding-top: 5px;
  font-size: 15px;
}

.project__right h2 {
  background-color:  rgb(231, 229, 226);
  text-align: center;
}

.project__left{
  margin-top: 22px;
  display: inline-block;
  width: 30%;
  &__contents{
    height: 300px;
    width: 100%;
    border:solid 1px #ccc;
  }
  &__return{
    margin-top: 50px;
    margin-bottom: 30px;
    &__title{
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 24px;
      background-color:rgb(239, 199, 148) ;
      color: #ffffff;
      font-weight: 700;
      box-shadow: 0 0 5px rgb(239, 199, 148);
      margin-bottom: 10px;
    }
    &__title p{
      display: inline-block;
    }
  }
}

.contents-pacent{
  border:solid 1px #ccc;
  height: 100px;
  text-align: center;
  font-size: 22px;
}

.contents-pacent__box2__graph1{
  background-color: rgb(231, 229, 226);
  height: 15px;
  margin:0 5px 5px 5px;
  border-radius: 6px;
  position: relative;
}
.contents-pacent__box2__graph2{
  background-color: #ea662d;
  height: 15px;
  border-radius: 6px;
  max-width: 100%;
}

.test{
  width: 20%;
 
}

.contents-total{
  border:solid 1px #ccc;
  height: 100px;
  text-align: center;
  &__box1{
  padding-top: 10px;
  font-size: 18px;
  }
  &__box2{
  font-size: 40px;
  }
}


.contents-amount{
  border:solid 1px #ccc;
  height: 50px;
  width: 100%;
  display: flex;
  line-height: 50px;
  font-size: 18px;
  &__box1{
    width: 40%;
    background-color: rgb(231, 229, 226);
  }
  &__box2{
    width: 60%;
    text-align: center;
    font-size: 21px;
  }
}
.contents-turm{
  border:solid 1px #ccc;
  height: 50px;
  width: 100%;
  display: flex;
  line-height: 50px;
  font-size: 18px;
  &__box1{
    width: 40%;
    background-color: rgb(231, 229, 226);;
  }
  &__box2{
    width: 60%;
    text-align: center;
  }
}



.box{
  display: inline-block;
  padding-left: 10px;
}

.image{
  width:  100%;
  height: 100%;
  border-radius: 3px;
  //object-fit: cover;
}

.image2{
  width:  200px;
  height: 140px;
  //border-radius: 3px;
  margin: 10px;
  border:solid 1px #ccc;
}

.image3{
  width:  90px;
  height: 100px;
  //border-radius: 3px;
  margin: 10px;
  border:solid 1px #ccc;
}

.nill_image{
  width:  80px;
  height: 80px;
  //border-radius: 3px;
  margin: 10px;
  border:solid 1px #ccc;
  opacity: 0.6;
}

.return{
  box-shadow: 0 0 5px rgb(239, 199, 148);
  margin-top: 5px;
  border:solid 2px rgb(239, 199, 148);
  &__price{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    width: 95%;
    border-bottom:solid 2px rgb(239, 199, 148);
    margin: 0 auto;
  }
  &__content{
    display: flex;
  }
  &__btn{
    text-align: center;
    margin: 10px;
  }
  &__title{
    background-color: rgb(239, 199, 148);
    text-align: center;
    height: 30px;
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
  }
}

.return__image{
  width: 30%;
}

.return__text{
  width: 70%;
  padding: 5px;
}

.donate{
  text-decoration: none;
  display: inline-block;
  border:solid 3px rgb(246, 192, 110);
  color: rgb(246, 192, 110);
  font-weight: 700;
  padding: 5px 60px;
  background-color: rgb(255, 233, 204);
  //border-radius: 10px;
  font-size: 21px;
}

.project-btn{
  margin-top: 30px;
  margin-bottom: 100px;
}

.project-start{
  //margin-top: 40px;
  text-align: center;
  height: 80px;
}
.start{
  margin: 60px 0;
}

.wait{
  margin-top: 40px;
}

.project-confirmation{
  text-align: center;
  padding: 40px;
}

.confirmation{
  font-size: 22px;
}

.red-color{
  font-size: 18px;
  color: #ea352d;
}

.edit-btn{
  background-color: rgb(86,198,0);
  padding: 15px 80px;
  
}

.save-btn{
  background-color: rgb(65, 126, 232);
  padding: 15px 80px;
}

.delete-btn{
  background-color: #ea352d;
  padding: 15px 80px;
}

.square-display__achievement{
  color: #ffffff;
  font-size: 24px;
  //font-weight: 700;
  position: absolute;
  top: 20px;
  left: -22px;
  z-index: 5;
  margin: 0 10px;
	width: 140px;/* 幅 */
	height: 0px;/* y位置 */
	border-bottom: 40px solid#69c3be;/* 高さ */
	//border-left: 30px solid transparent;/* 左側の角度 */
  border-right: 10px solid transparent;/* 右側の角度 */
  text-align: center;
}

.trapezoid-display__achievement {
  width: 220px;
  border-bottom: 45px solid#ea662d;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  height: 0;
  z-index: 5;
  transform: rotate(45deg);
  position: absolute;
  top:40px;
  left: 600px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
